<nav>
    <a [routerLink]="['/chart-trial']" routerLinkActive="active">Trial data</a>
    <a [routerLink]="['/chart-real']" routerLinkActive="active">EUR/USD</a>
</nav>
<section>
    <router-outlet></router-outlet>
</section>