<div *ngIf="chartData; then chart else loading"></div>
<ng-template #chart>
    <div class="chart-container">
        <div [chart]="chartData" [options]="chartOptions"></div>
    </div>
</ng-template>
<ng-template #loading>    
    <div *ngIf="!loadingFailed">Загрузка...</div>
    <div *ngIf="loadingFailed">
        Не удалось получить данные 
        <button (click)="getData()">Попробовать еще раз</button>
    </div>
</ng-template>