nav {
    margin: 10px 0;
}

nav a {    
    padding: 0 10px;
}

nav a.active {    
    text-decoration: none;
}

[chart-trial], [chart-real] {
    width: 100%; 
    min-width: 300px;    
}

.chart-container {
    max-width: 800px;
    box-shadow: 0px 0px 2px 1px #00000020;
}

canvas {
    background: #ffffff;    
}